body {
  background-color: #20286f;
}

.navbar-link {
  text-decoration: none;
  color: #c8bcbe;
  font-size: 1.25em;
  margin-left: 18px;
}

.landing-area {
  height: 100vh;
}

.landing-h1 {
  color: #c8bcbe;
}

.landing-h1 > span {
  color: #a21a5e;
}

.landing-h5 {
  color: #c8bcbe;
}

.my-work-link {
  text-decoration: none;
  color: #a21a5e;
  border: 1px solid #a21a5e;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px 0;
  border-radius: 4px;
}

.my-work-link:hover {
  background-color: #a21a5e;
  color: #c8bcbe;
  border-color: #c8bcbe;
  transition-duration: 0.3s;
}

.landing-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-row {
  border-bottom: 1px solid red;
}
